.donation-main-div{
    margin-top: 16vh;
    margin-left: 34vw;
    width: 34vw;
    min-height: 70vh;
    border: 1px solid;
    border-color: #02a95c;
    border-radius: 15px;
}

.donation-form-div{
    margin-left: 2vw;
    margin-top: 2vw;
}

.donation-form-div P{
    margin-left: 20%;
    font-weight: 600;
}

.donation-form-div h5{
    margin-left: 7.5vw;
    padding-bottom: 4%;
    color: #02a95c;
}

.donation-inputs{
    padding-top: 2%;
    padding-bottom: 3%;
}

.donation-form-div Button{
    margin-left: 230px;
    margin-top: 0%;
    margin-bottom: 5%;
}

.Donation-1-main{
    margin-top: 30vh;
    margin-left: 8%;
    
}

.donation-1-form{
    margin-left: 40vw;
}

.input-container{
        margin-bottom: 2%;
}