.nav-main{
    border-bottom: 2px solid;
    color: gainsboro;
    height: 13vh;
    position: fixed;
    z-index: 2;
    
}

.landing-nav-brand-name{
    margin-left: 44%;
    padding-top: 0.5%;
}

.nav-items{
    margin-left: 10%;
}

.nav-search{
    margin-left: 8%;
    padding-top: 0.20%;
}

.nav-row{
    --bs-gutter-x: 0rem !important;
    
}

@media only screen and (max-width: 600px) {
    .home-nav-brand-name{
      margin-left: 25%;
    }
  }