.MuiFormControl-root-MuiTextField-root{
    width: 500px !important;
    height: 35px !important;
        border-width: 1px !important;
        border-radius: 20px !important;
        border: 1px solid lightgrey !important;
        padding-left: 20px !important;
}